language: julia

os:
  - linux
  - windows
  - osx

julia:
  - 1.0
  - 1.3
  - 1.4
  - nightly

arch:
  - x86
  - x64

branches:
  only:
  - master
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

notifications:
  email: false

codecov: true

jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate(); Pkg.build()'
        - julia --project=docs/ docs/make.jl
      name: "HTML"
      after_success: skip
  exclude:
  - os: osx
    arch: x86
