name: check_builtins
on:
  pull_request:
  push:
    branches:
      - master
    tags: '*'
jobs:
  test:
    name: 'Check builtins.jl consistency'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: nightly
          arch: x64
      - uses: actions/cache@v4
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - run: julia -e 'import Pkg; Pkg.add(["DeepDiffs", "Test"])'
      - uses: julia-actions/julia-buildpkg@v1
      - run: julia test/check_builtins.jl
